* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("./Frame\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
}

.box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.ahref {
  text-decoration-line: none;
  color: white;
}
.ktr {
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 80px;
  line-height: 109.00000000000001%;
  letter-spacing: -3%;
}
.str {
  color: green;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 80px;
  line-height: 109.00000000000001%;
  letter-spacing: -3%;
}
.p {
  color: white;
  width: 400px;
}
.btn {
  width: 200px;
  padding: 15px 15px;
  border-radius: 82.83px;

  border: none;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  color: white;
}
.btn:hover {
  color: white;
  background: linear-gradient(265.23deg, black 6.79%, grey 97.2%);
  border: 1px solid rgb(196, 195, 195);
}
.btn2 {
  border: 1px solid rgb(196, 195, 195);
  width: 150px;
  padding: 15px 15px;
  color: white;
  background-color: black;
  border-radius: 82.83px;
}
.btn2:hover {
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  color: white;
  width: 150px;
  padding: 15px 15px;
  border-radius: 82.83px;
}
.big-box {
  display: flex;
  justify-content: space-between;
}
.box5 {
  margin-top: 30px;
}
.box7 {
  display: flex;
  background-color: white;
  width: 700px;
  padding: 10px 10px;
  border-radius: 15px;
  gap: 10px;
  justify-content: center;
  position: relative;
}
.mini-box {
  width: 150px;
  align-items: center;
}
.image {
  position: absolute;
  left: -70px;
  top: -70px;
}
.big-boxhihi {
  display: flex;
  justify-content: center;
}
.spn {
  background: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
}
.big-boxhoho {
  display: flex;
  gap: 400px;
}
.hh1 {
  font-size: 80px;
  color: white;
}
.btnnn {
  border-radius: 82px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  border: none;
  padding: 5px 15px;
  width: 300px;
}
.minibox {
  background-image: url("./Group\ 31.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 100px;
}
.p {
  color: white;
}
.box9 {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.box10 {
  width: 380px;
}
.h11 {
  color: white;
  font-size: 60px;
}
.spnn {
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
.p {
  color: white;
  width: 250px;
}
.big-boxhaha {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.box11 {
  width: 50px;
}
.box12 {
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  border: 1px solid white;
}
.mini {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.box13 {
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  align-items: center;
  border: 1px solid white;
}
.box14 {
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  border: 1px solid white;
}
.big {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.blaq {
  color: white;
  border: none;
  border-radius: 82px;
  padding: 10px 10px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
}
.box15 {
  width: 200px;
  align-items: center;
  text-align: center;
}
.immage {
  margin-top: 200px;
}
.box16 {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}
.pp {
  color: white;
  width: 280px;
  align-items: center;
}
.big-boxis {
  text-align: center;
  display: flex;
  justify-content: end;
}
.minihi {
  width: 600px;
  height: 200px;
  border-radius: 30px;
  background-image: url("./6a283a8e1dfaa3ea4a72dd3085916cd784d38051.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.minihii {
  width: 600px;
  height: 200px;
  border-radius: 30px;
  background-image: url("./759cd17ede5669cf516d38b286853e19eafb8443.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box17 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: rgb(206, 203, 203);
}
.minih {
  width: 390px;
  height: 200px;
  border-radius: 30px;
  background-image: url("./459aea58383a8a86ae93dd531a57410d765e6980.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blaqq {
  color: white;
  border: none;
  border-radius: 82px;
  padding: 10px 20px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
}
.spnn {
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
.mini-it {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  color: white;
  align-items: center;
}
.pi {
  color: white;
  width: 200px;
}
.big-it {
  display: flex;
  gap: 650px;
}
.footerr {
  background-color: #0b0c0d;
}
.normall {
  display: flex;
  flex-wrap: nowrap;
  gap: 90px;
  justify-content: center;
  color: white;
}
.ppp {
  color: #bbb3b36e;
}
.ppp:hover {
  color: white;
}
.normall2 {
  display: flex;
  gap: 810px;
  justify-content: center;
}
.minihe {
  width: 390px;
  height: 200px;
  border-radius: 30px;
  background-image: url("./759cd17ede5669cf516d38b286853e19eafb8443.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.minihee {
  width: 390px;
  height: 200px;
  border-radius: 30px;
  background-image: url("./69406b8b6ca29b3511df811434a8c8f626e974d5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ahrf {
  text-decoration-line: none;
  color: white;
  align-items: center;
  text-align: center;
}
.mini-it {
  display: flex;
  flex-wrap: nowrap;
}
